# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#User Interface State
ray-tracer.xcodeproj/project.xcworkspace/xcuserdata/bryanbell.xcuserdatad/UserInterfaceState.xcuserstate
